<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Document upload</a>
</nav>

<div class="container-fluid p-4">
  <app-document-upload></app-document-upload>
  <app-document-list></app-document-list>
  <app-control-panel></app-control-panel>
</div>