<div *ngIf="(selectedDocumentIds$ | async).length" class="fixed-bottom bg-light p-2 border-top d-flex align-items-center">
  <button type="button" class="btn btn-primary mr-2" disabled>Duplicate</button>
  <button type="button" class="btn btn-primary mr-2" disabled>Delete</button>

  <form class="form-inline ml-auto" [formGroup]="categoryForm" (ngSubmit)="onCategorySubmit()">
    <label class="sr-only" for="categoryName">Category name</label>
    <input formControlName="name" type="text" class="form-control mr-1" id="categoryName" placeholder="Category name">
    <button [disabled]="!categoryForm.get('name').value" type="submit" class="btn btn-primary">Move to
      category</button>
  </form>
</div>