<div class="d-flex flex-column justify-content-center align-items-center vh-100 vw-100">
  <form [formGroup]="loginForm" class="form-signin" (ngSubmit)="onSubmit()">
    <div *ngIf="errorMessages$ | async as errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>

    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>
    
    <div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        [class.is-invalid]="loginForm.get('email').invalid && loginForm.get('email').touched"
        type="email"
        id="inputEmail"
        formControlName="email"
        class="form-control"
        placeholder="Email address">
    </div>
    
    <div class="mt-1">
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        [class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched"
        type="password"
        id="inputPassword"
        formControlName="password"
        class="form-control"
        placeholder="Password">
    </div>
    
    <button
      class="btn btn-lg btn-primary btn-block mt-4"
      type="submit"
      [disabled]="loginForm.invalid">Log in</button>

    <div class="mt-2 d-flex align-items-center">
      <span>If you don't have an account</span>
      <a class="ml-1 p-1 badge badge-primary" routerLink="/register">sign up here!</a>
    </div>
  </form>
</div>