<div class="accordion mt-4 pb-4">
  <div class="card" *ngFor="let category of categories$ | async | keyvalue">
    <div class="card-header p-1">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" (click)="toggleSection(category.key)">
          {{category.key === 'null' ? 'Uncategorised' : category.key}}
        </button>
      </h2>
    </div>

    <div class="collapse" [class.show]="(selectedCategory$ | async) === category.key">
      <div class="card-body">
        <div class="badge badge-pill mr-1"
          [ngClass]="(selectedDocumentIds$ | async).includes(document.id) ? 'badge-primary' : 'badge-secondary'"
          *ngFor="let document of category.value" (click)="toggleSelection(document.id)">
          {{document.name}}
        </div>
      </div>
    </div>
  </div>
</div>