<form [formGroup]="uploadForm" class="form-inline" (ngSubmit)="onSubmit()">
  <div class="custom-file">
    <input type="file" multiple="true" formControlName="documents" class="custom-file-input" id="fileUpload"
      (change)="onFileChange($event)">
    <label class="custom-file-label" for="fileUpload">Choose file(s) to upload...</label>
  </div>

  <div class="ml-4 py-2 filenames" *ngIf="newDocuments.length">
    <span class="badge badge-pill badge-secondary mx-1" *ngFor="let newDocument of newDocuments">
      {{newDocument}}
    </span>
  </div>

  <button type="submit" class="btn btn-primary ml-4" [disabled]="!newDocuments.length">Submit</button>
</form>